<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head') %>
  </head>
  <body>
    <form action="/new-entry" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          placeholder="Agrega algo a la lista!!!"
          name="todos"
          aria-describedby="basic-addon1"
        />
        <button type="submit" class="btn btn-info">Guardar!</button>
      </div>
    </form>

    <!-- Formulario para eliminar ítems seleccionados -->
    <form action="/delete-entries" method="POST">
      <ul class="list-group mt-3">
        <% list.forEach(function(item) { %>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="selectedItems"
              value="<%= item.id %>"
              id="checkbox-<%= item.id %>"
            />
            <label class="form-check-label" for="checkbox-<%= item.id %>">
              <%= item.nombre %>
            </label>
          </div>
        </li>
        <% }) %>
      </ul>
      <button type="submit" class="btn btn-danger mt-3">
        Eliminar Seleccionados
      </button>
    </form>
  </body>
</html>
